<h1><%= @apartment.title %></h1>

<h2>Apartment</h2>

<p>description : <%= @apartment.description %></p>
<p>adress : <%= @apartment.adress %></p>
<p>zipcode : <%= @apartment.zipcode %></p>
<p>city : <%= @apartment.city %></p>
<p>country : <%= @apartment.country %></p>
<p>price / night : <%= @apartment.price %></p>

<h2>Owner</h2>

<p>First name : <%= @owner.first_name %></p>
<p>Last name : <%= @owner.last_name %></p>
<p>Email : <%= @owner.email %></p>

<%= link_to 'All Apartments' , apartments_path %>
